--
-- PostgreSQL database dump
--

\restrict lW7t09HSbJSQFQfWNth901pNr9Y4BkQlpYI4agnNSidShaGwvvRdNcgLcKFp6OZ

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: application_dependencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_dependencies (
    id integer NOT NULL,
    source_app_id integer,
    dependent_app_id integer,
    dependency_nature character varying(20)
);


ALTER TABLE public.application_dependencies OWNER TO postgres;

--
-- Name: application_dependencies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_dependencies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_dependencies_id_seq OWNER TO postgres;

--
-- Name: application_dependencies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_dependencies_id_seq OWNED BY public.application_dependencies.id;


--
-- Name: application_purposes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_purposes (
    id integer NOT NULL,
    application_id integer,
    purpose_text character varying NOT NULL,
    embedding public.vector(768)
);


ALTER TABLE public.application_purposes OWNER TO postgres;

--
-- Name: application_purposes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_purposes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_purposes_id_seq OWNER TO postgres;

--
-- Name: application_purposes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_purposes_id_seq OWNED BY public.application_purposes.id;


--
-- Name: application_symptoms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_symptoms (
    id integer NOT NULL,
    application_id integer NOT NULL,
    symptom_text character varying NOT NULL,
    embedding public.vector(768)
);


ALTER TABLE public.application_symptoms OWNER TO postgres;

--
-- Name: application_symptoms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_symptoms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_symptoms_id_seq OWNER TO postgres;

--
-- Name: application_symptoms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_symptoms_id_seq OWNED BY public.application_symptoms.id;


--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying,
    owning_team character varying(100),
    contact character varying(200)
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.applications_id_seq OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.applications_id_seq OWNED BY public.applications.id;


--
-- Name: classification_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classification_config (
    id integer NOT NULL,
    category character varying(20) NOT NULL,
    label character varying(50) NOT NULL,
    description character varying NOT NULL
);


ALTER TABLE public.classification_config OWNER TO postgres;

--
-- Name: classification_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.classification_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.classification_config_id_seq OWNER TO postgres;

--
-- Name: classification_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.classification_config_id_seq OWNED BY public.classification_config.id;


--
-- Name: intakes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.intakes (
    id integer NOT NULL,
    raw_text character varying NOT NULL,
    operator_id character varying(50),
    created_at timestamp without time zone,
    complainant_service_no character varying(20),
    complainant_name character varying(100),
    complainant_unit character varying(100),
    complainant_rank character varying(50),
    status character varying(30) DEFAULT 'complete'::character varying,
    clarification_attempts integer DEFAULT 0 NOT NULL,
    last_followup_question text
);


ALTER TABLE public.intakes OWNER TO postgres;

--
-- Name: intakes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.intakes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.intakes_id_seq OWNER TO postgres;

--
-- Name: intakes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.intakes_id_seq OWNED BY public.intakes.id;


--
-- Name: learning_examples; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.learning_examples (
    id integer NOT NULL,
    ticket_number character varying(20),
    raw_text character varying NOT NULL,
    text_embedding public.vector(768),
    predicted_app_id integer,
    confirmed_app_id integer,
    predicted_fault_type character varying(50),
    confirmed_fault_type character varying(50),
    predicted_severity character varying(20),
    confirmed_severity character varying(20)
);


ALTER TABLE public.learning_examples OWNER TO postgres;

--
-- Name: learning_examples_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.learning_examples_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.learning_examples_id_seq OWNER TO postgres;

--
-- Name: learning_examples_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.learning_examples_id_seq OWNED BY public.learning_examples.id;


--
-- Name: ticket_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_history (
    id integer NOT NULL,
    ticket_number character varying(20),
    changed_by character varying(50),
    old_status character varying(20),
    new_status character varying(20),
    notes character varying,
    changed_at timestamp without time zone,
    resolution_embedding public.vector(768)
);


ALTER TABLE public.ticket_history OWNER TO postgres;

--
-- Name: ticket_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ticket_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ticket_history_id_seq OWNER TO postgres;

--
-- Name: ticket_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ticket_history_id_seq OWNED BY public.ticket_history.id;


--
-- Name: ticket_related_apps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_related_apps (
    ticket_number character varying(20) NOT NULL,
    related_application_id integer NOT NULL
);


ALTER TABLE public.ticket_related_apps OWNER TO postgres;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets (
    ticket_number character varying(20) NOT NULL,
    intake_id integer,
    complainant_id character varying(50),
    primary_application_id integer,
    status character varying(20),
    fault_type character varying(50),
    severity character varying(20),
    complainant_service_no character varying(20),
    complainant_rank character varying(50),
    complainant_unit character varying(100),
    assignee_id character varying(100),
    created_at timestamp without time zone,
    created_by_service_no character varying(20)
);


ALTER TABLE public.tickets OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    service_no character varying NOT NULL,
    role character varying NOT NULL,
    managed_team character varying(100)
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: application_dependencies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_dependencies ALTER COLUMN id SET DEFAULT nextval('public.application_dependencies_id_seq'::regclass);


--
-- Name: application_purposes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_purposes ALTER COLUMN id SET DEFAULT nextval('public.application_purposes_id_seq'::regclass);


--
-- Name: application_symptoms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_symptoms ALTER COLUMN id SET DEFAULT nextval('public.application_symptoms_id_seq'::regclass);


--
-- Name: applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications ALTER COLUMN id SET DEFAULT nextval('public.applications_id_seq'::regclass);


--
-- Name: classification_config id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_config ALTER COLUMN id SET DEFAULT nextval('public.classification_config_id_seq'::regclass);


--
-- Name: intakes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intakes ALTER COLUMN id SET DEFAULT nextval('public.intakes_id_seq'::regclass);


--
-- Name: learning_examples id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_examples ALTER COLUMN id SET DEFAULT nextval('public.learning_examples_id_seq'::regclass);


--
-- Name: ticket_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history ALTER COLUMN id SET DEFAULT nextval('public.ticket_history_id_seq'::regclass);


--
-- Data for Name: application_dependencies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.application_dependencies (id, source_app_id, dependent_app_id, dependency_nature) FROM stdin;
1	2	5	login/access
2	3	5	login/access
3	4	5	login/access
4	6	5	login/access
5	7	5	login/access
6	8	5	login/access
7	3	2	data error
8	4	2	data error
9	6	2	data error
10	7	2	data error
11	8	2	data error
\.


--
-- Data for Name: application_purposes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: application_symptoms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: classification_config; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: intakes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: learning_examples; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ticket_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ticket_related_apps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (service_no, role, managed_team) FROM stdin;
OP-10001	operator	\N
OP-10002	operator	\N
OP-10003	operator	\N
ADM-20001	admin	IT-HQ-Delhi
ADM-20002	admin	HR-Directorate
ADM-20003	admin	HR-Directorate
ADM-20004	admin	Finance-Directorate
ADM-20005	admin	IT-Security
ADM-20006	admin	Finance-Directorate
ADM-20007	admin	Medical-Directorate
\.


--
-- Name: application_dependencies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_dependencies_id_seq', 11, true);


--
-- Name: application_purposes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_purposes_id_seq', 16, true);


--
-- Name: application_symptoms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_symptoms_id_seq', 22, true);


--
-- Name: applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.applications_id_seq', 8, true);


--
-- Name: classification_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.classification_config_id_seq', 11, true);


--
-- Name: intakes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.intakes_id_seq', 167, true);


--
-- Name: learning_examples_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.learning_examples_id_seq', 44, true);


--
-- Name: ticket_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ticket_history_id_seq', 46, true);


--
-- Name: application_dependencies application_dependencies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_dependencies
    ADD CONSTRAINT application_dependencies_pkey PRIMARY KEY (id);


--
-- Name: application_purposes application_purposes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_purposes
    ADD CONSTRAINT application_purposes_pkey PRIMARY KEY (id);


--
-- Name: application_symptoms application_symptoms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_symptoms
    ADD CONSTRAINT application_symptoms_pkey PRIMARY KEY (id);


--
-- Name: applications applications_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_name_key UNIQUE (name);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: classification_config classification_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_config
    ADD CONSTRAINT classification_config_pkey PRIMARY KEY (id);


--
-- Name: intakes intakes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intakes
    ADD CONSTRAINT intakes_pkey PRIMARY KEY (id);


--
-- Name: learning_examples learning_examples_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_examples
    ADD CONSTRAINT learning_examples_pkey PRIMARY KEY (id);


--
-- Name: ticket_history ticket_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_pkey PRIMARY KEY (id);


--
-- Name: ticket_related_apps ticket_related_apps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_related_apps
    ADD CONSTRAINT ticket_related_apps_pkey PRIMARY KEY (ticket_number, related_application_id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (ticket_number);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (service_no);


--
-- Name: application_dependencies application_dependencies_dependent_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_dependencies
    ADD CONSTRAINT application_dependencies_dependent_app_id_fkey FOREIGN KEY (dependent_app_id) REFERENCES public.applications(id);


--
-- Name: application_dependencies application_dependencies_source_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_dependencies
    ADD CONSTRAINT application_dependencies_source_app_id_fkey FOREIGN KEY (source_app_id) REFERENCES public.applications(id);


--
-- Name: application_purposes application_purposes_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_purposes
    ADD CONSTRAINT application_purposes_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- Name: application_symptoms application_symptoms_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_symptoms
    ADD CONSTRAINT application_symptoms_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- Name: learning_examples learning_examples_confirmed_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_examples
    ADD CONSTRAINT learning_examples_confirmed_app_id_fkey FOREIGN KEY (confirmed_app_id) REFERENCES public.applications(id);


--
-- Name: learning_examples learning_examples_predicted_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_examples
    ADD CONSTRAINT learning_examples_predicted_app_id_fkey FOREIGN KEY (predicted_app_id) REFERENCES public.applications(id);


--
-- Name: learning_examples learning_examples_ticket_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_examples
    ADD CONSTRAINT learning_examples_ticket_number_fkey FOREIGN KEY (ticket_number) REFERENCES public.tickets(ticket_number);


--
-- Name: ticket_history ticket_history_ticket_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_ticket_number_fkey FOREIGN KEY (ticket_number) REFERENCES public.tickets(ticket_number);


--
-- Name: ticket_related_apps ticket_related_apps_related_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_related_apps
    ADD CONSTRAINT ticket_related_apps_related_application_id_fkey FOREIGN KEY (related_application_id) REFERENCES public.applications(id);


--
-- Name: ticket_related_apps ticket_related_apps_ticket_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_related_apps
    ADD CONSTRAINT ticket_related_apps_ticket_number_fkey FOREIGN KEY (ticket_number) REFERENCES public.tickets(ticket_number);


--
-- Name: tickets tickets_intake_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_intake_id_fkey FOREIGN KEY (intake_id) REFERENCES public.intakes(id);


--
-- Name: tickets tickets_primary_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_primary_application_id_fkey FOREIGN KEY (primary_application_id) REFERENCES public.applications(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lW7t09HSbJSQFQfWNth901pNr9Y4BkQlpYI4agnNSidShaGwvvRdNcgLcKFp6OZ

